<div class="footer wow fadeIn" data-wow-delay="0.3s">
    <div class="container-fluid-footer" pic_src="background-02.jpg" pic_bg path>
        <div class="container">
            <div class="footer-info">
                <a href="index.html" class="footer-logo">
                    <img src="#" alt="" pic_src="logo-white.png" path>
                </a>
                <h3 style="font-size: 16px">{address}</h3>
                <div class="footer-menu">
                    <a href="" data-phone><p style="font-size: 16px">{phone}</p></a>
                    <p style="font-size: 16px">{email}</p>
                </div>
                <div class="footer-social">

                    <a href="" data-facebook target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="" data-instagram target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="" data-google target="_blank"><i class="fab fa-google"></i></a>
                </div>
            </div>
        </div>
        <div class="container copyright">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; <a href="index.html">{store}</a>. All Rights Reserved.</p>
                </div>
                <div class="col-md-6">
                    <p>Design by <a href="https://www.lldtek.com" target="_blank">LLDTEK</a></p>
                </div>
            </div>
        </div>
    </div>
</div>