<!-- Top Bar Start -->
<div class="top-bar d-md-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 mt-2 mt-md-0 pl-lg-3">
                <div class="top-bar-left">
                    <div class="text">
                        <i class="far fa-envelope text-white"></i>
                        <h2 class="text-white">{email}</h2>
                    </div>
                    <div class="text ">
                        <i class="fa fa-phone-alt text-white"></i>
                        <a href="tel:+12193626342"><h2 class="text-white">{phone}</h2></a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 justify-content-md-end">
                <div class="top-bar-right justify-content-center justify-content-md-end">
                    <div class="social">
                        <a href="#" target="_blank" class="no-border-left text-white" data-facebook><i class="fab fa-facebook-f"></i></a>
                        <a href="#" target="_blank" class="text-white" data-instagram><i class="fab fa-instagram"></i></a>
                        <a href="#" target="_blank" class="no-border text-white" data-google><i class="fab fa-google"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar End -->

<!-- Nav Bar Start -->
<div class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <a href="index.html" class="navbar-brand logo-color">
            <div>
                <img src="images/lux-nails-logo.png" pic_src="logo.png" path>
            </div>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div id="main-menu" class="navbar-nav ml-auto">
                <a href="index.html" class="nav-item nav-link px-4">Home</a>
                <a href="about.html" class="nav-item nav-link px-4">About</a>
                <a href="services.html" class="nav-item nav-link px-4">Services</a>
                <a href="gallery.html" class="nav-item nav-link px-4">Gallery</a>
                <a href="specialties.html" class="nav-item nav-link px-4">Specialties</a>
                <a href="#" class="nav-item nav-link px-4" data-booking>Appointment</a>
                <a href="contact.html" class="nav-item nav-link px-4">Contact</a>
            </div>
        </div>
    </div>
</div>
<!-- Nav Bar End -->
