<!-- Start Footer -->
<footer class="foorter_bg" id="tempaltemo_footer">
    <div class="container">
        <div class="row padding-footer py-5">
            <div class="col-md-12 col-lg-5">
                <img src="assets/images/solace-nails-spa-logo-white.png" alt="">
                <ul class="list-unstyled text-light footer-link-list mt-3 mt-lg-4">
                    <li>
                        <i class="fas fa-map-marker-alt fa-fw"></i>
                        <a class="text-decoration-none">{address}</a>
                    </li>
                    <li>
                        <i class="fa fa-phone-alt fa-fw"></i>
                        <a class="text-decoration-none" href="#" data-phone>{phone}</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope fa-fw"></i>
                        <a class="text-decoration-none" href="#" data-email>{email}</a>
                    </li>
                </ul>
            </div>
        
            <div class="col-md-6 col-lg-4 mt-3 mt-md-4 mt-lg-0">
                <h2 class="h2 text-light pb-3 border-light-menu">Hours</h2>
                <ul class="list-unstyled text-light footer-link-list mt-3">
                    <li><a class="text-decoration-none" href="#">{time_1}</a></li>
                    <li><a class="text-decoration-none" href="#">{time_2}</a></li>
                </ul>
                <ul class="list-inline text-left footer-icons">
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="#" data-facebook><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="#" data-instagram><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="#" data-google><i class="fab fa-google fa-lg fa-fw"></i></a>
                    </li>
                </ul>
            </div>
        
            <div class="col-md-6 col-lg-3 mt-3 mt-md-4 mt-lg-0">
                <h2 class="h2 text-light pb-3 border-light-menu">Links</h2>
                <ul class="list-unstyled text-light footer-link-list mt-3">
                    <li><a class="text-decoration-none" target=_blank href="about.html">About</a></li>
                    <li><a class="text-decoration-none" target=_blank href="specialties.html">Specialties</a></li>
                    <li><a class="text-decoration-none" target=_blank href="services.html">Services</a></li>
                    <li><a class="text-decoration-none" target=_blank href="contact.html">Contact</a></li>
                </ul>
            </div>
    
        </div>

    </div>

    <div class="w-100 footer_bottom py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <p class="text-center text-white">
                        Copyright &copy; 2022 <a href="index.html" class="text-color">{store}</a>. Design by <a class="text-color" rel="sponsored" href="https://www.lldtek.com/" target="_blank">LLDTEK</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->