<!-- Start Top Nav -->
<nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
    <div class="container text-white">
        <div class="w-100 d-flex justify-content-between">
            <div>
                <i class="fa fa-envelope mx-2"></i>
                <a class="navbar-sm-brand text-color text-decoration-none" href="#">{email}</a>
                <i class="fa fa-phone-alt mx-2"></i>
                <a class="navbar-sm-brand text-color text-decoration-none" href="#" data-phone>{phone}</a>
            </div>
            <div>
                <a class="text-color" href="#" target="_blank" rel="sponsored" data-facebook><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
                <a class="text-color" href="#" target="_blank" data-instagram><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
                <a class="text-color" href="#" target="_blank" data-google><i class="fab fa-google fa-sm fa-fw me-2"></i></a>
            </div>
        </div>
    </div>
</nav>
<!-- Close Top Nav -->

<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container d-flex justify-content-between align-items-center">
    
        <a class="navbar-brand text-success logo h1 align-self-center" href="index.html">
            <img src="./assets/images/ivy-nails-spa-logo-white.png" alt="IVY NAILS & SPA">
        </a>
    
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="align-self-center collapse navbar-collapse d-lg-flex" id="templatemo_main_nav">
            <ul class="nav navbar-nav ml-auto" id="main_menu">
                <li class="nav-item ">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="specialties.html">Specialties</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="services.html">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn text-start" href="#" target="_blank" data-booking>Appointment</a>
                </li>
            </ul>
        </div>

    </div>
</nav>
<!-- Close Header -->