<div class="col-md-4 w3_agile_gallery_grid">
    <div class="agile_gallery_grid">
        <!-- <a title="" href="images/gallery/gellishious-nails-spa-gallery-01.jpg" > -->
            <div class="agile_gallery_grid1">
                <img id="gallery_image" src="#" alt="" class="img-responsive" pic_src="gallery-{number_image}"/>
                <div class="w3layouts_gallery_grid1_pos">
                    <h3>{store}</h3>
                    <p>Nails & Spa</p>
                </div>
            </div>
        <!-- </a> -->
    </div>
</div>