<div class="wthree-subscribef-w3ls" pic_src="background-02" pic_bg path>
    <div class="container">
        <h3 class="tittlef-agileits-w3layouts white-clrf mb-3" style="color:#FFFFFF">Get All Special Offers!</h3>
        <p class="white-clrf" style="color:#acacac">Sign up for our newsletter and get all the latest tips and tricks to polish your nails at a good rate!</p>
        <div class="footer_w3layouts_gridf_right">

            <form action="https://www.lldtek.com/salon/appt/NDcxMjR8Z2VsbGlzaGlvdXM3NjIwfEFaXzA3OTQ5fGJlMDljY2M4YzA2MzEwZDc3ZTUxNjZlMGI1NzViMTEw" method="post">
                <input type="email" name="Email" placeholder="Email address..." required="">
                <input type="submit" value="SEND">
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>
<div class="footer_top_agileits">
    <div class="container">
        <div class="col-md-4 footer_grid">
            <h3>About Us</h3>
            <p>To be the place for you to unwind and
                rejuvenate. {store} is committed to
                delivering the peace, comfort, and beauty
                that you deserve.

                To be highest standard in service and sanitation, we promote continuing education for our technicians so that you are receiving the very best.
            </p>
        </div>
        <div class="col-md-3 footer_grid">
            <h3>Hot Promotion</h3>
            <ul class="footer_grid_list">
                <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    <a target="_blank" href="#" data-booking>Promotion </a>
                </li>
                <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    <a target="_blank" href="#" data-booking>Gift card this week</a>
                </li>
                <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    <a target="_blank" href="#" data-booking>V.I.P </a>
                </li>
                <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    <a target="_blank" href="#" data-booking>Gift card this month</a>
            </ul>
        </div>
        <div class="col-md-5 footer_grid">
            <h3>Contact Info</h3>
            <ul class="address">
                <li><i class="fa fa-map-marker" aria-hidden="true"></i>{address}</li>
                <li><i class="fa fa-phone" aria-hidden="true"></i><a href="#" data-phone>{phone}</a></li>
                <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="#">{email}</a></li>
            </ul>
        </div>
        <div class="clearfix"> </div>
        
    </div>
</div>
<div class="footer_w3ls">
    <div class="container">
                <div class="footer_bottom1">
                <p>© 2022 {store}. All rights reserved | Dev by <a href="https://www.lldtek.com">LLDTEK
    </div>
</div>